@font-face {font-family: Montserrat; src: url('fonts/montserrat_medium.ttf');}

html, body {margin: 0; padding: 0;}
body {background: #080c21; font-family: Arial; font-size: 14px; color: #d2d2d2;}
img {border: none;}
input, textarea, select {font-family: Arial; outline: none; border-radius: 0; -webkit-appearance: none;}

#splash {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #080c21; transition: transform 0.4s ease-in-out;}
#splash.hide {transform: translateY(-100%);}
#splash #splash_inner {position: relative; width: 426px; height: 100%; margin: 0 auto;}
#splash #splash_inner #splash_logo {position: absolute; top: 20%; left: 0; width: 100%;}
#splash #splash_inner #splash_logo img {width: 36%; margin: 0 0 0 32%;}
#splash #splash_inner #splash_text {position: absolute; top: 50%; left: 0; width: 100%;}
#splash #splash_inner #splash_text #splash_text_title {font-family: Montserrat; font-size: 42px; color: #f2f2f2; text-align: center;}
#splash #splash_inner #splash_text #splash_text_tagline {margin: 15px 0 0 0; font-size: 16px; color: #d2d2d2 /*#9eaabd*/; line-height: 22px; text-align: center;}
#splash #splash_inner a {position: absolute; bottom: 25%; left: 0; display: block; width: 80%; height: 50px; line-height: 50px; margin: 0 10%; background: #795af1 /*#256aff*/; font-size: 18px; color: #f2f2f2; text-decoration: none; text-align: center; border-radius: 8px;}

#page {display: none; width: 426px; margin: 0 auto; padding: 20px 0 0 0;}
#positions {padding: 10px 0 0 0; overflow: auto;}
#positions a {display: block; float: left; width: 15%; height: 38px; line-height: 38px; background: #29313d; color: #fff; text-decoration: none; text-align: center; border-radius: 6px;}
#positions a#position_lj {background: #111318; color: #fff;}
#positions a.filter_margin {margin: 0 2% 0 0;}
#scenarios {overflow: auto; padding: 15px 0 0 0;}
#scenarios a {display: block; float: left; width: calc(50% - 8px); height: 28px; line-height: 28px; background: #29313d; font-size: 12px; color: #fff; text-decoration: none; text-align: center; border-radius: 6px;}
#scenarios a.scenario_left {margin: 5px 16px 0 0;}
#scenarios a.scenario_right {margin: 5px 0 0 0;}
#scenarios a#scenario_active {background: #111318; color: #fff;}
#chart {overflow: auto; width: 426px; margin: 30px 0 0 0;}
#chart_hj_firstin, #chart_co_firstin, #chart_bu_firstin, #chart_sb_firstin, #chart_bb_firstin {display: none;}
#chart .box {float: left; width: 30px; height: 30px; line-height: 30px; background: #323741; font-size: 12px; color: #666; text-align: center; border-radius: 6px;}
#chart .margin {margin: 0 3px 3px 0;}
#chart .nomargin {margin: 0 0 3px 0;}
#chart .pink {background: #772d8b; color: #fff;} /*de1c3f*/
#chart .blue {background: #427fc6; color: #fff;}
#chart .green {background: #79a65a; color: #fff;}
#chart .red {background: #de1c3f; color: #fff;}
#legend {width: 426px; margin: 20px 0 0 0;}
#legend ul {list-style: none; margin: 0; padding: 0;}
#legend ul li {margin: 5px 0; padding: 0; overflow: auto;}
#legend ul li .legend_color {float: right; width: 20px; height: 20px; border-radius: 6px;}
#legend ul li .pink {background: #772d8b;}
#legend ul li .blue {background: #3d7cb8;}
#legend ul li .green {background: #79a65a;}
#legend ul li .red {background: #de1c3f;}
#legend ul li .grey {background: #323741;}
#legend ul li .legend_description {float: right; width: calc(100% - 28px); margin: 0 8px 0 0; line-height: 30px; font-size: 12px; text-align: right;}
#footer {margin: 40px 0 50px 0; font-size: 12px; text-align: center;}
#footer a {color: #969696; text-decoration: none;}
#footer a:hover {text-decoration: underline;}
#footer span {padding: 0 5px;}

#contact {display: none; width: 426px; margin: 0 auto; color: #ddd;}
#terms {display: none; width: 426px; margin: 0 auto; color: #ddd;}
#privacy {display: none; width: 426px; margin: 0 auto; color: #ddd;}
.misc {}
.misc .misc_back {height: 30px; padding: 20px 0 0 0; overflow: auto;}
.misc .misc_back img {float: left; display: block; height: 20px; margin: 5px 10px 0 0;}
.misc .misc_back a {float: left; display: block; height: 30px; line-height: 30px; color: #ddd; text-decoration: none;}
.misc .misc_back a:hover {text-decoration: underline;}
.misc .misc_title {margin: 20px 0 20px 0; font-family: Montserrat; font-size: 28px;}
.misc #contact_email {margin: 25px 0 0 0; padding: 15px 20px; background: #1b1c20; border-left: /*#6452a9*/ #3d7cb8 solid 8px;}
.misc p {margin: 10px 0; line-height: 22px;}
.misc p.paragraph_title {margin: 20px 0 10px 0; font-size: 16px; font-weight: bold;}
.misc ul {}
.misc ul li {margin: 3px 0;}

@media screen and (max-width: 970px) {
	#splash #splash_inner {width: 374px;}
	#splash #splash_inner #splash_logo {top: 20%;}
	#splash #splash_inner #splash_text {top: 60%;}
	#splash #splash_inner a {bottom: 10%;}
	#page {width: 374px;}
	#chart {width: 374px; margin: 10px 0 0 0;}
	#chart .box {width: 26px; height: 26px; line-height: 26px; font-size: 11px;}
	#legend {width: 374px; margin: 20px 0 0 0;}
	#legend ul li .legend_color {width: 26px; height: 26px;}
	#legend ul li .legend_description {line-height: 26px;}
	#contact {width: 374px;}
	#terms {width: 374px;}
	#privacy {width: 374px;}
}






