@font-face {font-family: Montserrat; src: url('fonts/montserrat_medium.ttf');}

html, body {margin: 0; padding: 0;}
body {background: #1b2028; font-family: Arial; font-size: 14px; color: #969696;}
img {border: none;}
input, textarea, select {font-family: Arial; outline: none; border-radius: 0; -webkit-appearance: none;}

#splash {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #1b2028; transition: transform 0.4s ease-in-out;}
#splash.hide {transform: translateY(-100%);}
#splash #splash_inner {position: relative; width: 426px; height: 100%; margin: 0 auto;}
#splash #splash_inner #splash_logo {position: absolute; top: 20%; left: 0; width: 100%;}
#splash #splash_inner #splash_logo img {width: 36%; margin: 0 0 0 32%;}
#splash #splash_inner #splash_text {position: absolute; top: 50%; left: 0; width: 100%;}
#splash #splash_inner #splash_text #splash_text_title {font-family: Montserrat; font-size: 42px; color: #fff; text-align: center;}
#splash #splash_inner #splash_text #splash_text_tagline {margin: 15px 0 0 0; font-size: 16px; color: #9eaabd; line-height: 22px; text-align: center;}
#splash #splash_inner a {position: absolute; bottom: 25%; left: 0; display: block; width: 80%; height: 50px; line-height: 50px; margin: 0 10%; background: #256aff; font-size: 18px; color: #fff; text-decoration: none; text-align: center; border-radius: 8px;}

#positions {padding: 20px 0; background: #303239;}
#positions #positions_inner {width: 426px; margin: 0 auto; overflow: auto;}
#positions a {display: block; float: left; width: calc(15% - 2px); height: 38px; line-height: 38px; background: #343842; border: #343842 solid 1px; color: #fff; text-decoration: none; text-align: center; border-radius: 6px;}
#positions a#position_lj {background: #292a2e; border: #666 solid 1px;}
#positions a.filter_margin {margin: 0 2% 0 0;}

#page {display: none; width: 426px; margin: 0 auto;}
#scenarios {overflow: auto; margin: 15px 0 0 0;}
#scenarios a {display: block; float: left; height: 22px; line-height: 22px; padding: 10px 0 0 0; font-size: 12px; color: #969696; text-decoration: none; border-bottom: #1b2028 solid 1px;}
#scenarios a#scenario_active {color: #fff; border-bottom: #fff solid 1px;}
#scenarios a.filter_margin {margin: 0 12px 0 0;}
#chart {overflow: auto; width: 426px; margin: 40px 0 0 0;}
#chart_hj, #chart_co, #chart_bu, #chart_sb, #chart_bb {display: none;}
#chart .box {float: left; width: 30px; height: 30px; line-height: 30px; background: #323741; font-size: 12px; color: #666; text-align: center; border-radius: 6px;}
#chart .margin {margin: 0 3px 3px 0;}
#chart .nomargin {margin: 0 0 3px 0;}
#chart .pink {background: #995379; color: #fff;}
#chart .blue {background: #3d6b93; color: #fff;}
#chart .green {background: #79a65a; color: #fff;}
#chart .red {background: #9a2e2d; color: #fff;}
#legend {width: 426px; margin: 20px 0 0 0;}
#legend ul {list-style: none; margin: 0; padding: 0;}
#legend ul li {margin: 5px 0; padding: 0; overflow: auto;}
#legend ul li .legend_color {float: right; width: 30px; height: 30px;}
#legend ul li .pink {background: #995379;}
#legend ul li .blue {background: #3d6b93;}
#legend ul li .green {background: #79a65a;}
#legend ul li .red {background: #9a2e2d;}
#legend ul li .legend_description {float: right; width: calc(100% - 45px); margin: 0 15px 0 0; line-height: 30px; text-align: right;}
#footer {margin: 20px 0 50px 0; font-size: 12px; text-align: center;}
#footer a {color: #9689c6; text-decoration: none;}
#footer a:hover {text-decoration: underline;}
#footer span {padding: 0 5px;}

#contact {display: none; width: 426px; margin: 0 auto; color: #bbb;}
#contact a#contact_back {height: 60px; line-height: 60px; color: #fff; text-decoration: none;}
#contact a#contact_back:hover {text-decoration: underline;}
#contact #contact_title {margin: 20px 0 0 0; font-family: Montserrat; font-size: 28px; color: #fff;}
#contact #contact_intro {margin: 25px 0 0 0; line-height: 22px;}
#contact #contact_email {margin: 25px 0 0 0; padding: 15px 20px; background: #1b1c20; border-left: #6452a9 solid 8px;}
#terms {display: none; width: 426px; margin: 0 auto;}
#privacy {display: none; width: 426px; margin: 0 auto;}

@media screen and (max-width: 970px) {
	#splash #splash_inner {width: 374px;}
	#splash #splash_inner #splash_logo {top: 20%;}
	#splash #splash_inner #splash_text {top: 60%;}
	#splash #splash_inner a {bottom: 10%;}
	#positions #positions_inner {width: 374px;}
	#page {width: 374px;}
	#chart {width: 374px; margin: 10px 0 0 0;}
	#chart .box {width: 26px; height: 26px; line-height: 26px; font-size: 11px;}
	#legend {width: 374px; margin: 20px 0 0 0;}
	#legend ul li .legend_color {width: 26px; height: 26px;}
	#legend ul li .legend_description {line-height: 26px;}
}









































