@font-face {font-family: Kanit; src: url('/crushtheflop/fonts/kanit_regular.ttf');}
@font-face {font-family: Ramsina; src: url('/crushtheflop/fonts/ramsina_regular.ttf');}

html, body {margin: 0; padding: 0;}
body {background: #1b2028; font-family: Arial; font-size: 14px; color: #969696;}
img {border: none;}
input, textarea, select {font-family: Arial; outline: none; border-radius: 0; -webkit-appearance: none;}

#splash {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #1b2028; transition: transform 0.8s ease-in-out;}
#splash.hide {transform: translateY(-100%);}
#splash #splash_inner {width: 426px; margin: 0 auto;}
#splash #splash_inner img {width: 50%;}
#splash #splash_inner a {display: block; height: 40px; line-height: 40px; margin: 100px 50px 0 50px; background: #256aff; font-size: 22px; color: #fff; text-decoration: none; text-align: center; border-radius: 8px;}
#page {width: 426px; margin: 0 auto;}
#position {margin: 50px 0 0 0;}
#position #position_title {font-weight: bold;}
#position #position_filters {margin: 5px 0 0 0; overflow: auto;}
#position #position_filters a {display: block; float: left; width: calc(15% - 2px); height: 38px; line-height: 38px; background: #343842; border: #343842 solid 1px; color: #fff; text-decoration: none; text-align: center; border-radius: 6px;}
#position #position_filters a#position_filter_ep {background: #292a2e; border: #666 solid 1px;}
#position #position_filters .filter_margin {margin: 0 2% 0 0;}
#scenario {margin: 15px 0 0 0;}
#scenario #scenario_filters {overflow: auto;}
#scenario #scenario_filters a {display: block; float: left; height: 22px; line-height: 22px; font-size: 12px; color: #969696; text-decoration: none;}
#scenario #scenario_filters a#scenario_filters_rfi {color: #fff; border-bottom: #fff solid 1px;}
#scenario #scenario_filters .filter_margin {margin: 0 12px 0 0;}
#title {margin: 40px 0 0 0; color: #ddd;}
#title_mp, #title_co, #title_bu, #title_sb, #title_bb {display: none;}
#chart {overflow: auto; width: 426px; margin: 20px 0 0 0;}
#chart_mp, #chart_co, #chart_bu, #chart_sb, #chart_bb {display: none;}
#chart .box {float: left; width: 30px; height: 30px; line-height: 30px; background: #323741; font-size: 12px; color: #666; text-align: center; border-radius: 6px;}
#chart .margin {margin: 0 3px 3px 0;}
#chart .nomargin {margin: 0 0 3px 0;}
#chart .pink {background: #b548c6; color: #fff;}
#chart .blue {background: #32a7e2; color: #fff;}
#chart .green {background: #4Ba83d; color: #fff;}
#chart .red {background: #dc3434; color: #fff;}
#info {width: 426px; margin: 20px 0 0 0;}
#info #info_hands {text-align: right;}
#info #info_legend {margin: 5px 0 0 0; text-align: right;}

@media screen and (max-width: 970px) {
	#page {width: 374px;}
	#table {margin: 20px 0 0 0;}
	#title {margin: 25px 0 0 0;}
	#chart {width: 374px; margin: 10px 0 0 0;}
	#chart .box {width: 26px; height: 26px; line-height: 26px; font-size: 11px;}
	#info {width: 374px; margin: 20px 0 0 0;}

}






















